html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 2px;
	box-sizing: border-box;
	font-family: Geneva, ui-sans-serif;
}

.main {
	padding: 20px;
}

a {
	text-decoration: none;
}

.header	{
	padding-bottom: 30px;
	border-bottom: #d5d5d5 1px solid;
}

.site-title {
	text-align: center;
	color: #333;
	margin: 0;
}

.site-title a {
	color: #333;
}

.site-subtitle {
	margin: 0;
	text-align: center;
	color: #333;
}

.footer	{
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-top: #d5d5d5 1px solid;
}

.gallery {
	text-align: center;
}

.gallery-item {
	margin: 0.1rem;
	overflow: hidden;
	text-align: center;
	position: relative;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .9s;
	cursor: pointer;
}

.gallery-image:hover {
	transform: scale(1.1);
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, auto));
		grid-gap: 0.2rem;
		justify-content: center;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

.tags {
	padding-top: 20px;
	text-align: justify;
	word-wrap: normal;
	font-size: 0.8em;
}

.tags a {
	color: #666666;
}

.tags a:hover {
	color: #333333;
}

.key {
	border:1px solid gray;
	box-shadow:1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin:2px 3px;
	padding:1px 5px;
}

.keys-help {
	margin-bottom: 30px;
	font-size: 0.8em;
}


