html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 2px;
	box-sizing: border-box;
	font-family: Geneva, ui-sans-serif;
}

a {
	text-decoration: none;
}

.header	{
	padding-bottom: 30px;
	border-bottom: #d5d5d5 1px solid;
}

.site-title {
	text-align: center;
	color: #333;
}

.site-title a {
	color: #333;
}

.site-subtitle {
	text-align: center;
	color: #333;
}

.footer	{
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-top: #d5d5d5 1px solid;
}

.gallery {
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	text-align: center;
	justify-content: center;
}

.gallery-item {
	/*flex: 0 1 14rem;*/
	margin: 0.1rem;
	overflow: hidden;
	text-align: center;
	position: relative;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .9s;
	cursor: pointer;
}

.gallery-image:hover {
	transform: scale(1.1);
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, auto));
		grid-gap: 0.2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

.tags {
	padding-top: 20px;
	text-align: center;
	word-wrap: normal;
}

.tags a {
	color: #666666;
}

.tags a:hover {
	color: #333333;
}


